{
  "openapi": "3.1.0",
  "info": {
    "title": "throwaway API",
    "version": "1.2.5",
    "description": "Read-only API for deciding whether an email address or domain should be rejected because the TLD is invalid, the domain has no MX records, filtered DNS blocks it, or it appears in the disposable-domain set.",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://throwaway.sslboard.com"
    }
  ],
  "security": [],
  "components": {
    "schemas": {
      "CheckResult": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The original email address that was checked. Present for email-based checks; omitted for domain-only checks."
          },
          "domain": {
            "type": "string",
            "description": "The normalized domain that was evaluated."
          },
          "valid_tld": {
            "type": "boolean",
            "description": "True when the domain ends in a real ICANN-recognized public suffix."
          },
          "has_mx": {
            "type": "boolean",
            "description": "True when the domain has MX records and can receive email."
          },
          "dns_blocked": {
            "type": "boolean",
            "description": "True when filtered Cloudflare DNS appears to block an otherwise email-capable domain. Omitted when MX checks fail."
          },
          "dns_blocked_category": {
            "type": "string",
            "description": "Best-effort category inferred from filtered-DNS results.",
            "enum": [
              "malware",
              "family",
              "unknown"
            ]
          },
          "disposable": {
            "type": "boolean",
            "description": "True when the domain matches the disposable-email blocklist."
          },
          "should_reject": {
            "type": "boolean",
            "description": "Coarse decision flag. True when the address or domain is invalid, non-deliverable, DNS-blocked, or disposable."
          }
        },
        "required": [
          "domain",
          "valid_tld",
          "has_mx",
          "disposable",
          "should_reject"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          }
        },
        "required": [
          "error"
        ]
      },
      "BatchResult": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "description": "One result per input value, in the same order as the request.",
            "items": {
              "$ref": "#/components/schemas/CheckResult"
            }
          }
        },
        "required": [
          "results"
        ]
      },
      "BatchEmailsRequest": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "description": "Email addresses to check. Maximum 1000 items.",
            "items": {
              "type": "string",
              "format": "email"
            },
            "maxItems": 1000
          }
        },
        "required": [
          "emails"
        ]
      },
      "BatchDomainsRequest": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "description": "Domains to check. Maximum 1000 items.",
            "items": {
              "type": "string"
            },
            "maxItems": 1000
          }
        },
        "required": [
          "domains"
        ]
      },
      "Stats": {
        "type": "object",
        "properties": {
          "itemCount": {
            "type": "integer",
            "description": "Number of domains inserted into the bloom filter."
          },
          "bitCount": {
            "type": "integer",
            "description": "Bloom filter size in bits."
          },
          "hashCount": {
            "type": "integer",
            "description": "Number of hash probes used per lookup."
          },
          "byteSize": {
            "type": "integer",
            "description": "Bloom filter size in bytes."
          },
          "falsePositiveRate": {
            "type": "number",
            "description": "Estimated bloom-filter false-positive rate."
          }
        },
        "required": [
          "itemCount",
          "bitCount",
          "hashCount",
          "byteSize",
          "falsePositiveRate"
        ]
      },
      "Health": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Deployed service version."
          }
        },
        "required": [
          "version"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/check": {
      "get": {
        "summary": "Check one email address or one domain",
        "description": "Pass exactly one query parameter: `email` or `domain`. The response includes both the detailed signals and the coarse `should_reject` decision.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Email address to validate. Do not send this together with `domain`.",
            "required": false,
            "name": "email",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "description": "Domain to validate. Do not send this together with `email`.",
            "required": false,
            "name": "domain",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result for the supplied email address or domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResult"
                },
                "examples": {
                  "accept": {
                    "summary": "Deliverable non-disposable email",
                    "value": {
                      "email": "user@gmail.com",
                      "domain": "gmail.com",
                      "valid_tld": true,
                      "has_mx": true,
                      "dns_blocked": false,
                      "disposable": false,
                      "should_reject": false
                    }
                  },
                  "reject": {
                    "summary": "Disposable domain",
                    "value": {
                      "email": "user@mailinator.com",
                      "domain": "mailinator.com",
                      "valid_tld": true,
                      "has_mx": true,
                      "dns_blocked": false,
                      "disposable": true,
                      "should_reject": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing input, conflicting parameters, invalid email format, or malformed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Batch-check email addresses or domains",
        "description": "Send exactly one array: `emails` or `domains`. Mixed payloads are rejected.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/BatchEmailsRequest"
                  },
                  {
                    "$ref": "#/components/schemas/BatchDomainsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results in the same order as the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResult"
                },
                "examples": {
                  "emails": {
                    "summary": "Two email results",
                    "value": {
                      "results": [
                        {
                          "email": "user@gmail.com",
                          "domain": "gmail.com",
                          "valid_tld": true,
                          "has_mx": true,
                          "dns_blocked": false,
                          "disposable": false,
                          "should_reject": false
                        },
                        {
                          "email": "user@mailinator.com",
                          "domain": "mailinator.com",
                          "valid_tld": true,
                          "has_mx": true,
                          "dns_blocked": false,
                          "disposable": true,
                          "should_reject": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, missing array, mixed arrays, or invalid payload shape.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body too large or batch size exceeds the service limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "summary": "Return bloom-filter metadata",
        "description": "Returns the current bloom-filter size, hash count, and estimated false-positive rate.",
        "responses": {
          "200": {
            "description": "Bloom-filter metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Return service version",
        "description": "Minimal health endpoint used to confirm the deployed version.",
        "responses": {
          "200": {
            "description": "Current service version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
