{
  "openapi": "3.1.0",
  "info": {
    "title": "throwaway API",
    "version": "1.2.3",
    "description": "Public no-auth API for disposable email, TLD, MX, and filtered-DNS checks.",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://throwaway.sslboard.com"
    }
  ],
  "security": [],
  "components": {
    "schemas": {
      "CheckResult": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "valid_tld": {
            "type": "boolean"
          },
          "has_mx": {
            "type": "boolean"
          },
          "dns_blocked": {
            "type": "boolean"
          },
          "dns_blocked_category": {
            "type": "string",
            "enum": [
              "malware",
              "family",
              "unknown"
            ]
          },
          "disposable": {
            "type": "boolean"
          },
          "should_reject": {
            "type": "boolean"
          }
        },
        "required": [
          "domain",
          "valid_tld",
          "has_mx",
          "disposable",
          "should_reject"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "BatchResult": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckResult"
            }
          }
        },
        "required": [
          "results"
        ]
      },
      "BatchEmailsRequest": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "maxItems": 1000
          }
        },
        "required": [
          "emails"
        ]
      },
      "BatchDomainsRequest": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1000
          }
        },
        "required": [
          "domains"
        ]
      },
      "Stats": {
        "type": "object",
        "properties": {
          "itemCount": {
            "type": "integer"
          },
          "bitCount": {
            "type": "integer"
          },
          "hashCount": {
            "type": "integer"
          },
          "byteSize": {
            "type": "integer"
          },
          "falsePositiveRate": {
            "type": "number"
          }
        },
        "required": [
          "itemCount",
          "bitCount",
          "hashCount",
          "byteSize",
          "falsePositiveRate"
        ]
      },
      "Health": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          }
        },
        "required": [
          "version"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/check": {
      "get": {
        "summary": "Check one email address or domain",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "name": "email",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "domain",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Batch-check emails or domains",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/BatchEmailsRequest"
                  },
                  {
                    "$ref": "#/components/schemas/BatchDomainsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch check results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "summary": "Return bloom-filter metadata",
        "responses": {
          "200": {
            "description": "Filter stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Return service version",
        "responses": {
          "200": {
            "description": "Health result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "405": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
